hw1/train.csv
hw1/test_X.csv
hw1/sampleSubmission.csv
hw1/__pycache__/*
hw2/data
hw3/semi.py
hw3/my_semi.sh
hw3/my_train.sh
hw3/my_model.h5
hw4/data
hw5/train_data.csv
hw5/test_data.csv
final/
final11/
final111/
finaltest/
